@import url('https://fonts.googleapis.com/css?family=Montserrat|Saira+Extra+Condensed:400,700,800');

@import "variables";

@mixin info-background {
    display: flex;
    flex-direction: column;
}

@mixin titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    align-items: center;

    #logo {
        margin-left: 1%;
    
        a {
            justify-self: flex-start;
        }
        
    }

    #menu {
        display: none;
    }
    
    .dropdown {
        margin-right: 1%;
    
        div {
        width: 35px;
        height: 5px;
        background-color: $color3;
        margin: 6px 0;
        }
    }
    
    #menu-label {
        float: right;
    }
    
    ul {
    max-height: 0;
    text-align: right;
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top;
    }
    
    ul li a {
        text-decoration: none;
        color: $color4;
        padding: 10px 0;
    }
    
    ul li a:visited {
        color: $color3;
    }
    
    input:not(:checked) ~ #dropdown-content {
        transform: scaleY(0);
      }
}



#home-page {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1, h2, h3 {
        display: inline-block;
        margin: 0;
        margin-bottom: -9px;
    }
}

.title {
    display: flex;
    height: 20%;
    flex-direction: row;
    align-self: flex-end;
}