@import url('https://fonts.googleapis.com/css?family=Montserrat|Saira+Extra+Condensed:400,700,800');

@import "variables";

// @mixin info-background {
//     display: flex;
//     flex-direction: column;
// }

// @mixin titles {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

html {
    scroll-behavior: smooth;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;

    #logo {
        margin-left: 1%;
        color: $color3;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 40px;
        font-style: bold;
        opacity: 0.7;
    
        a {
            justify-self: flex-start;
        }

        a:link {
            text-decoration: none;
            color: $color1;
        }

        a:visited {
            color: $color1;
        }
        
    }

    #menu {
        display: none;
    }
    
    .dropdown {
        margin-right: 1%;
    
        div {
        width: 35px;
        height: 5px;
        background-color: $color1;
        opacity: 0.7;
        margin: 6px 0;
        }
    }
    
    #menu-label {
        float: right;
    }
    
    ul {
    max-height: 0;
    text-align: right;
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top;

        li {
            padding: 10px 0;
        }
    }
    
    ul li a {
        text-decoration: none;
        color: $color1;
        margin: 0;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 30px;
    }
    
    ul li a:visited {
        color: $color1;
    }

    ul li a:hover {
        color: $color3;
    }
    
    input:not(:checked) ~ #dropdown-content {
        transform: scaleY(0);
      }
}



#home-page {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/black-and-white-black-and-white-dark-908283.jpg");
    min-width: 327px;

    h1, h2, h3 {
        font-family: 'Saira Extra Condensed', sans-serif;
        color: $color3;
        display: inline-block;
        margin: 0;
        opacity: 0.8;
    }

    h1 {
        font-size: 60px;
        margin-bottom: -14px;
        letter-spacing: 41px;
        padding-left: 47px;
        padding-right: 2px;
    }

    h2 {
        font-size: 40px;
        margin-bottom: -9px;
        letter-spacing: 3.9px;
        padding-left: 7px;
        padding-right: 2px;
    }

    h3 {
        font-size: 30px;
        letter-spacing: -0.5px;
        padding-left: 3.5px;
        padding-right: 1px;
    }
}

#about-title {
    background-image: url("images/abstract-abstract-expressionism-abstract-painting-1919287.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: $color4;
}

#work .title {
    background-image: url("images/aerial-view-background-environment-787723.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: $color2;
    background-color: $color4-opaque;
}

.page {

    .title {

        h2 {
            margin: 0;
        }
    
        display: flex;
        height: calc(0.35 * 100vh);
        flex-direction: row;
        align-items: flex-end;
    
    }
    
    div h2 {
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 40px;
        padding: 0 20px;
    }

    .info {

        p:first-child {
            margin-top: 0;
            padding-top: 8px;
        }
        height: calc(0.65 * 100vh);
        font-family: 'Montserrat', sans-serif;
        padding: 0 20px;
        background-color: $color4;
        color: $color3;
        overflow: scroll;
    }

    #work-info {
        text-align: right;
    }
}

#work .title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}